:root{
    --cor-primaria:#000000;
    --cor-secundaria:#0B60B0;
    --cor-terciaria: #40A2D8;
    --cor-quartenaria: #F0F0F0;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header{
    height: 10rem;
    background-color:var(--cor-primaria);
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 85%;
}
.header-nav{
    display: flex;
}
.header-nav *{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--cor-terciaria);
}
.header-nav *:hover{
    color:var(--cor-quartenaria);
    transform: scale(1.2);
}


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 3rem;
    background: var(--cor-secundaria);
    background: linear-gradient(0deg, var(--cor-secundaria) 0%, var(--cor-primaria) 70%);
    color:var(--cor-quartenaria);
}
.footer-links{
    display: flex;
    flex-direction: column;
    
}
.footer-links a{
    color: var(--cor-terciaria);
}
.footer-links a:hover{
    text-decoration: underline;
    color: var(--cor-quartenaria);
}
.footer-links h2{
    margin-bottom: 1rem;
}